.homepage-search-wrapper {
    padding-top: 2rem;
    margin: 0 auto;
    min-width: 1400px;
    max-width: 1920px;
    display: grid;
    grid-template-columns: 25% 75%;
}
.left-filter {
    padding: 36px 2rem;
}

.slider-style{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* .right-space{
    
} */

.phone-item-wrapper{
    border: 2px solid #eee;
}

.phone-item-image{
    width: 20rem;
}

.phone-info{
    margin-left: 5rem;
    width: 20rem;
    display: inline-block;
}