.container {
    margin: 30px 70px;
    /* background-color: rgb(246, 247, 248); */
    background-color: rgb(255,255,255);
    border: 1px solid rgb(186, 187, 188);
    height:auto;
    overflow: hidden;
}

.title {
    font-weight: 700;
    text-align: center;
    padding: 20px 0;
}

.totalprice {
    float:right;
    padding-top: 5rem;
    padding-right: 10rem;
}

.checkout {
   text-align: center;
   margin-top: 10rem;
   margin-bottom: 20rem;
}